
@font-face {
    font-family: IBMPlexSans-Bold;
    src: url(/fonts/IBMPlexSans-Bold.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-BoldItalic;
    src: url(/fonts/IBMPlexSans-BoldItalic.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-ExtraLight;
    src: url(/fonts/IBMPlexSans-ExtraLight.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-ExtraLightItalic;
    src: url(/fonts/IBMPlexSans-ExtraLightItalic.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-Italic;
    src: url(/fonts/IBMPlexSans-Italic.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-Light;
    src: url(/fonts/IBMPlexSans-Light.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-LightItalic;
    src: url(/fonts/IBMPlexSans-LightItalic.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-Medium;
    src: url(/fonts/IBMPlexSans-Medium.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-MediumItalic;
    src: url(/fonts/IBMPlexSans-MediumItalic.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-Regular;
    src: url(/fonts/IBMPlexSans-Regular.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-SemiBold;
    src: url(/fonts/IBMPlexSans-SemiBold.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-SemiBoldItalic;
    src: url(/fonts/IBMPlexSans-SemiBoldItalic.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-Thin;
    src: url(/fonts/IBMPlexSans-Thin.ttf);
  }
  @font-face {
    font-family: IBMPlexSans-ThinItalic;
    src: url(/fonts/IBMPlexSans-ThinItalic.ttf);
  }
  
  