@import "../../../../variables";
// @import "./../../../../../node_modules/intl-tel-input/build/css/intlTelInput.min.css";

.custom-input.mar-b-5 {
  border: 1px solid #d5d9de;
  // box-shadow: none;
}

.ticket {
  &__wrapper {
    background: $color-white;
    border-radius: $border-radius-default;
    border: $border-default;
    width: 40%;
    position: relative;
    padding: 0 1rem;
    max-height: 90vh;
    overflow-y: auto;
  }

  &__header {
    color: $color-secondary;
    font-family: $font-semi-bold;
    font-size: 1.5rem;
    display: inline-block;
    padding: 2rem 1rem;
  }

  &__success {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .fa-ticket-alt {
      font-size: 7rem;
      color: $color-dark-green;
      transform: rotate(-45deg);
      margin-bottom: 2rem;
    }

    & .fa-exclamation-triangle {
      font-size: 7rem;
      color: $color-secondary;
      margin-bottom: 2rem;
    }

    &--bold {
      font-size: 1.77rem;
      font-family: $font-primary-heading;
      color: $color-text-gray;
    }

    ￼cursor: pointer;
    ￼color: #abb3db;
    ￼line-height: 1;
    ￼font-family: "IBMPlexSans-SemiBold";
    ￼position: absolute;
    ￼right: 0;
    ￼top: 0;
    ￼padding: 1rem;

    &--info {
      font-size: 1.5rem;
      font-family: $font-medium;
      color: $color-text-gray;
      margin-bottom: 2rem;
    }
  }
}

.buttons__all {
  margin: 2rem 0;
}

.popup__content input {
  height: 3rem;
}

.buttons__all button:not(:last-child) {
  margin-right: 2rem;
}

.submitted.ng-invalid,
.submitted.has__error,
.ng-invalid.submitted ~ input[type="file"].has__error.submitted:before {
  border: 1px solid $color-secondary;
}

.submitted.ng-invalid + p {
  display: block !important;
}

#ticketPopup {
  opacity: 1;
  transition: all 0.6s;
}

.minimizeLqs,
.minimizeTms {
  pointer-events: none;
  opacity: 0 !important;
  z-index: -10;
}

.min-btn {
  cursor: pointer;
  color: #abb3db;
  line-height: 1;
  font-family: "IBMPlexSans-SemiBold";
  position: absolute;
  right: 25px;
  top: 0;
  padding: 1rem;

  &.arabic {
    left: 25px;
    right: unset;
  }
}
.custom-input-dropdown {
  background: white;
  padding: 5px;
}

.custom-file-input {
  position: absolute;
  top: 23.5px;
  width: 30px;
  right: 2px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: " ";
  display: inline-block;
  /* border: 1px solid #999; */
  /* border-radius: 3px; */
  /* padding: 5px 8px; */
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 500;
  font-size: 10pt;
  width: 30px;
  height: 27px;
  background: url("/images/folder.png");
  background-position: 2px 1px;
  background-size: 82%;
  background-repeat: no-repeat;
}
.custom-file-input:hover::before {
  border-color: black;
}

.mar-b-5 {
  margin-bottom: 5px;
}

.custom-file-input.has__error {
  border: 0px;
  &:before {
    border: 1px solid transparent !important;
  }
  &::before {
    display: inline-block;
    /* border: 1px solid #999; */
    /* border-radius: 3px; */
    /* padding: 5px 8px; */
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 500;
    font-size: 10pt;
    width: 30px;
    height: 27px;
    background: url("/images/folder_error.png");
    background-position: 2px 1px;
    background-size: 82%;
    background-repeat: no-repeat;
  }
}

.custom-input.mar-b-5::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13px;
}
.custom-input.mar-b-5::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px;
}
.custom-input.mar-b-5:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 13px;
}
.custom-input.mar-b-5:-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px;
}

.file-upload-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bbbbbb;
}
.file-upload-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbbbbb;
}
.file-upload-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #bbbbbb;
}
.file-upload-input:-moz-placeholder {
  /* Firefox 18- */
  color: #bbbbbb;
}
