$font-medium : "IBMPlexSans-Medium";
$font-primary-heading : "IBMPlexSans-Bold";
$font-secondary-heading : "IBMPlexSans-Light";
$font-extra-light: "IBMPlexSans-ExtraLight";
$font-regular: "IBMPlexSans-Regular";
$font-semi-bold: "IBMPlexSans-SemiBold";

$color-secondary :#ea5455;
$color-secondary-hover: #ee7677;
$color-text-gray :#818c9b;
$color-primary : #2d4059;
$color-primary-2 : #7b818b;
$color-gray: #f6f6f6;
$color-white:#ffffff;
$color-black:#000000;
$color-yellow:#fbae3a;
$color-border-gray: #d5d9de;
$color-border-gray-2 : #ededed;
$color-text-gray-2: #57667a;
$color-text-gray-3: #abb3db;
$color-text-gray-4: #d5d9de;
$color-text-dark-gray: #808c9a;
$color-bg-gray:#eff0f2;
$color-bg-gray-blue: #edeff1;
$color-text-disabled: #abb3bd;
$color-green: #89ba68;
$color-green-hover: #a1c886;
$color-light-green: #b6d4a1;
$color-dark-green: #21b573;
$color-dark-green-hover: #4dc48f;

$color-blue: #0070bd;
$color-blue-hover: #3d8dca;
$color-box-shadow: rgba(0,0,0, .15);
$color-box-shadow-textbox: rgba(0,0,0, .1);
$box-shadow-default: .5rem .5rem 1.5rem $color-box-shadow-textbox;

$border-radius-default: .5rem;
$border-default: 1px solid $color-border-gray;

$max-width: 180rem;

$color-black:#000000;
$color-dark-gray:#818c9b;
:root {
    --font-medium: "IBMPlexSans-Medium";
    --font-primary-heading : "IBMPlexSans-Bold";
    --font-secondary-heading : "IBMPlexSans-Light";
    --font-regular: "IBMPlexSans-Regular";
    --font-semi-bold: "IBMPlexSans-SemiBold";
  
    --color-secondary-heading-1 :#ea5455;
    --color-text-gray :#818c9b;
    --color-primary-heading : #2d4059;
    --color-primary-heading-2 : #576e8b;
    --color-gray: #f6f6f6;
    --color-white:#ffffff;
    --color-black:#000000;
    --color-yellow:#fbae3a;
    --color-border-gray: #d5d8dd;
    --color-border-gray-2 : #ededed;
    --color-text-gray-2: #57667a;
    --color-text-gray-3: #abb3db;
    --color-text-dark-gray: #808c9a;
    --color-bg-gray:#eff0f2;
    --color-bg-gray-blue: #edeff1;
    --color-text-disabled: #abb3bd;
    --color-green: #8abb69;
    --color-light-green: #b6d4a1;
    --color-dark-green: #20b573;
  
    --color-blue: #0070bd;
    --color-box-shadow: rgba(0,0,0, .15);
    --color-box-shadow-textbox: rgba(0,0,0, .2);
    --box-shadow-default: .5rem .5rem 1.5rem $color-box-shadow-textbox;
  
    --border-radius-default: .5rem;
    --border-default: 1px solid $color-border-gray;
  
    --max-width: 180rem;

    --color-black:#000000;
    --color-dark-gray:#555555;
}

